*
{
    border-radius: 6px;
}
.outerDiv
{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: bisque;
}
form
{
    padding: 40px;
    background-color: pink;
    text-align: center;
    box-shadow: 1px 1px 3px;

}
p
{
    font-size: 25px;
}
input[type="submit"]
{
    margin-top: 20px;
}
input[type="submit"]:hover
{
    cursor:pointer;
    box-shadow: 0px 0px 2px;
    transform: scale(1.05);
}
input
{
    border-style: none;
    border: 1px solid;
}
input[type="number"]
{
    width: 50px;
    padding-left: 5px;
}
p#result
{
    font-size: 20px;
}