*
{
    border-radius: 10px;
}
body
{
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container
{
    display: flex;
    flex-direction: column;
    background: antiquewhite;
    width: 500px;
    height: 25vh;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 0px 3px;
    border: none;
}

.jokeBtn
{
    margin-top: 10px;
    width: 90px;
    border-style: none;
    box-shadow: 0px 0px 3px;
    padding: 3px 8px;
}